<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/vendor/stylesheets/tether.min.css" />
    <link rel="stylesheet" href="/vendor/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
{{{body}}}
<!--
<script src="/vendor/javascripts/jquery.min.js"></script>
<script src="/vendor/javascripts/tether.min.js"></script>
<script src="/vendor/javascripts/bootstrap.min.js"></script>
--> 
</body>
</html>
