body
  padding: 50px
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif

a
  color: #00B7FF

*
  box-sizing: border-box

.btn-group>.btn:not(.dropdown-toggle)
  border-radius: .25rem!important
  margin-bottom: 0.5rem

#container
  display: flex
  justify-content: center

ul
  list-style: none
  padding: 0

.todotitle
  font-weight: bold